# The NAMESPACE file is used to explicitly define which functions should be imported into the package’s namespace and
# which functions the package exposes (i.e. exports) to other packages
# see http://docs.renjin.org/en/latest/writing-renjin-extensions.html for details about the syntax

# Java classes
importClass(se.alipsa.excelutils.ExcelReader)
importClass(se.alipsa.excelutils.ExcelImporter)
importClass(se.alipsa.excelutils.ExcelExporter)
importClass(se.alipsa.excelutils.OdsReader)
importClass(se.alipsa.excelutils.OdsImporter)
importClass(se.alipsa.excelutils.OdsExporter)
importClass(se.alipsa.excelutils.SpreadsheetUtil)

# functional methods
export(findRowNumber)
export(findColumnNumber)
export(as.columnIndex)
export(as.columnName)
export(getSheetNames)
export(importSpreadsheet)
export(importSpreadsheets)
export(exportSpreadsheet)
export(exportSpreadsheets)